.input:focus {
  border: 2px solid #9acd32;
  outline: none;
}

.input {
  padding: 5px 10px;
  border: 2px solid #20b2aa;
  border-radius: 4px;
}

.errorInput {
  border: 2px solid #ff6347;
}

.errorInput:focus {
  border: 2px solid #ff6347;
}

.error {
  margin-top: 5px;
  color: #ff6347;
  font-size: 12px;
  font-weight: bold;
}
