.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #06c;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  appearance: none;
}

.checkbox:checked {
  background-image: url(checked.svg);
  appearance: none;
}

.checkbox:focus {
  border-color: #0059b3;
}

.spanClassName {
  color: #06c;
  font-family: Montserrat, sans-serif;
}
