* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#hw1,
#hw2,
#hw3,
#hw4,
#hw6 {
  margin-bottom: 30px;
  padding: 30px 70px;
  border-bottom: 1px solid #e0e0e0;
}

#hw1 > div:first-of-type,
#hw2 > div:first-of-type,
#hw3 > div:first-of-type,
#hw4 > div:first-of-type,
#hw6 > div:first-of-type {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
}
