.button {
  display: inline-block;
  min-width: 100px;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.secondary {
  background-color: #add8e6;
}

.default {
  background-color: #90ee90;
}

.red {
  background-color: #f08080;
}

.default:hover {
  background-color: #008000;
}

.red:hover {
  background-color: #f00;
}

.secondary:hover {
  background-color: #00f;
}

.default:active {
  background-color: #006400;
}

.secondary:active {
  background-color: #00008b;
}

.red:active {
  background-color: #8b0000;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
